<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PcShopContext" connectionString="data source=LAPTOP-IOFF9RK3\SQLEXPRESS;initial catalog=PC_shop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>